main{
    background-color: aliceblue;
}

#yarn{
    padding: 5px 4px;
    margin: auto;
}

header {
    font-family: Verdana;
    font-size: 18px;
}

.grid {
    background-image: url(https://github.com/KeelyCreates/html-me-something/blob/master/shutterstock-geometric-diamond-tile.jpg?raw=true);
    border: 4px dashed black;
    height: 115px;
    width: 1140px;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 100%;
}

h1 {
    font-family: 'Lucida Handwriting' 'bold';
    text-align: center;
    margin: auto;
    padding: 28px;
}

h2 {
    font-family: Papyrus;
    color: red;
}

#about{
    color: red;
    border: 2px dotted black;
}

#blerb{

}

#projects title{
  
}

.h3{
 
}

.gloves {
    background-color: lavender;
}

.gloves paragraph {
    
}

.glovespic {
    width:283px;
    height: 500px;
}

.blanket {
    background-color: mistyrose;
}

.blanket paragraph {
    
}

.blanketpic{
    width: 500px;
    height: 375px;
}

ol{

}

li{

}

footer{

}